<section
  id="clients"
  class="scroll-mt-[64px] md:scroll-mt-[80px] lg:scroll-mt-[96px]"
>
  <h1>Clientes</h1>
  <div class="flex flex-wrap justify-center ml-10 mr-10">
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
  </div>
</section>
