<section id="clients">
  <h1>Clientes</h1>
  <div class="flex flex-wrap justify-center ml-10 mr-10">
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
    <app-card-for-clients></app-card-for-clients>
  </div>
</section>
