<section
  class="mt-3 flex flex-wrap justify-center scroll-mt-[64px] md:scroll-mt-[80px] lg:scroll-mt-[96px]"
  id="services"
>
  <h1 class="text-5xl mb-3">Principales servicios</h1>
  <div class="flex flex-wrap justify-center">
    <app-card-with-photo
      [titulo]="'Compactaciones'"
      [descripcion]="'prueba descripcion'"
      [foto]="'https://www.dummyimage.com/420x260'"
    >
    </app-card-with-photo>
    <app-card-with-photo
      [titulo]="'Prueba'"
      [descripcion]="'prueba descripcion'"
      [foto]="'https://www.dummyimage.com/420x260'"
    >
    </app-card-with-photo>
    <app-card-with-photo
      [titulo]="'Prueba'"
      [descripcion]="'prueba descripcion'"
      [foto]="'https://www.dummyimage.com/420x260'"
    >
    </app-card-with-photo>
    <app-card-with-photo
      [titulo]="'Prueba'"
      [descripcion]="'prueba descripcion'"
      [foto]="'https://www.dummyimage.com/420x260'"
    >
    </app-card-with-photo>
    <app-card-with-photo
      [titulo]="'Prueba'"
      [descripcion]="'prueba descripcion'"
      [foto]="'https://www.dummyimage.com/420x260'"
    >
    </app-card-with-photo>
  </div>
</section>
