@import "tailwindcss";

:root {
  --lamatco-color: #9d0000;
  --navbar-bg-color: #3b3b3b;
}

html {
  scroll-behavior: smooth;
}

.lamatco-color {
  color: var(--lamatco-color);
}

.lamatco-bg-color {
  background-color: var(--lamatco-color);
}

.navbar {
  background-color: var(--navbar-bg-color);
}

.navbar-contact {
  @apply inline-flex items-center bg-[#3b3b3b] border rounded py-1 px-3 text-base;
}

.navbar-contact:hover {
  @apply bg-[#8d0000];
}

.button-carousel {
  @apply bg-[#00000067] text-white;
}
.button-carousel:hover {
  @apply bg-[#000000] text-white;
}

::-webkit-scrollbar {
  display: none;
}
